<!-- Generated template for the VersesListComponent component -->

<ion-fab style="margin-top:-2%" *ngIf="WasVerseSelected">
  <button ion-fab color="light" mini (tap)="ShareVerses()">
    <ion-icon name="md-share"></ion-icon>
  </button>

  <!--<ion-fab-list side="right">-->
  <!--<button ion-fab (tap)="ShareOnSocialMedia(socialSharingService.SocialNetworks.WHATSAPP)">-->
  <!--<ion-icon name="logo-whatsapp"></ion-icon>-->
  <!--</button>-->
  <!--<button ion-fab>-->
  <!--<ion-icon name="logo-facebook"></ion-icon>-->
  <!--</button>-->
  <!--<button ion-fab>-->
  <!--<ion-icon name="logo-twitter"></ion-icon>-->
  <!--</button>-->

  <!--</ion-fab-list>-->
</ion-fab>
<br>
<ion-list>

  <div *ngFor="let verse of verses">


    <div text-center *ngIf="verse.isSelected">

      <button ion-button clear icon-only (tap)="AddVerseToFavorites(verse)">
        <ion-icon [name]="verse.isOnFavorites? 'star' : 'star-outline'"></ion-icon>
      </button>
<!--       <button ion-button clear icon-only *ngIf="!verse.isOnFavorites" (tap)="AddVerseToFavorites(verse)">
        <ion-icon name="star-outline"></ion-icon>
      </button> -->

    </div>

    <ion-card [ngClass]="{'selected-shadow':verse.isSelected}">


      <ion-card-content (press)="SelectVerse(verse)" (tap)="UnselectVerse(verse)">


      <div [innerHtml]="verse.text">

      </div>

    </ion-card-content>


  </ion-card>

  </div>


</ion-list>








