<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <p text-wrap>{{bookName}}
        <br>
        <label style="color:gray">{{getChapterTitle(chapter)}}</label>
      </p>

    </ion-title>

  </ion-navbar>


</ion-header>


<ion-content padding>

  <!--<ion-fab style="margin-top:-2%" *ngIf="WasVerseSelected">-->
  <!--<button ion-fab color="light" mini (tap)="ShareVerses()">-->
  <!--<ion-icon name="md-share"></ion-icon>-->
    <!--</button>-->

  <!--&lt;!&ndash;<ion-fab-list side="right">&ndash;&gt;-->
  <!--&lt;!&ndash;<button ion-fab (tap)="ShareOnSocialMedia(socialSharingService.SocialNetworks.WHATSAPP)">&ndash;&gt;-->
  <!--&lt;!&ndash;<ion-icon name="logo-whatsapp"></ion-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<button ion-fab>&ndash;&gt;-->
  <!--&lt;!&ndash;<ion-icon name="logo-facebook"></ion-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<button ion-fab>&ndash;&gt;-->
  <!--&lt;!&ndash;<ion-icon name="logo-twitter"></ion-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;</button>&ndash;&gt;-->

  <!--&lt;!&ndash;</ion-fab-list>&ndash;&gt;-->
  <!--</ion-fab>-->
  <!--<br>-->

  <!--<ion-list>-->

  <!--<ion-card *ngFor="let verse of verses" (press)="SelectVerse(verse)" (tap)="UnselectVerse(verse)"-->
  <!--[ngClass]="{'selected-shadow':verse.isSelected}">-->

  <!--<ion-card-content>-->


  <!--<div [innerHtml]="verse.text">-->

  <!--</div>-->
  <!--</ion-card-content>-->


  <!--</ion-card>-->

  <!--</ion-list>-->


  <verses-list [verses]="verses"></verses-list>
</ion-content>
